{
    "extends": "eslint:recommended",
    "env": {
      "browser": true,
      "commonjs": true,
      "node": true,
      "es6": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
      "no-console": "off",
      "no-multi-spaces": 1,
      "strict": ["error", "global"],
      "curly": "warn",
      "no-unused-vars" : 2,
      "no-undef" : 2
    }
  }